<footer>
    <div class="container-footer">
        <div class="row">
            <div class="col-md-6 mt-5 text-center">
                <h3 class="ml-6">Horaires d’ouverture</h3>
                <ul>
                    <ol>lun.: 08:45 - 12:00, 14:00 - 18:00</ol>
                    <ol>mar.: 08:45 - 12:00, 14:00 - 18:00</ol>
                    <ol>mer.: 08:45 - 12:00, 14:00 - 18:00</ol>
                    <ol>jeu.: 08:45 - 12:00, 14:00 - 18:00</ol>
                    <ol>ven.: 08:45 - 12:00, 14:00 - 18:00</ol>
                    <ol>sam.: 08:45 - 12:00</ol>
                    <ol>dim.: Fermé</ol>
                </ul>
            </div>
            <div class="col-md-6 mt-5 text-center">
                <h3 class="ml-5">Contact</h3>
                <h4 class="ml-5">Adresse:</h4>
                <ul>
                    <ol>Garage V.Parrot</ol>
                    <ol>12 avenue des tourterelles</ol>
                    <ol>31 000 Toulouse</ol>
                    <ol>Téléphone:</ol>
                    <ol>09 83 42 11 20</ol><br>
                    <ol>Formulaire de contact</ol>
                </ul>
            </div>
        </div>
    </div>
</footer>



