<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <h3>Horaires</h3>
        <ul>
            {% for horaire in horaire %}
                <li>{{ horaire.days }} : {{ horaire.open }}</li>
            {% endfor %}
        </ul>
    </div>
</div>


