{% extends 'base.html.twig' %}

{% block title %}Nos Services{% endblock %}

{% block body %}
{% for service in services %}
    <div class="col-auto col-md-auto service-filter">
        <div class="card m-1 event-card my-custom-card">
           
            <h5 class="card-title">{{ service.name }}</h5>
            <div class="custom-card-text mx-auto">
                <p class="desc">{{ service.content }}</p>
                
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}

