html {
background-color: #F2F2F2;
}

.navbar {
background-color : #D92332;
    
}

.nav-link {
font-family: 'Rajdhani', sans-serif;
}

section {
background-color: #F2F2F2;
height: auto;
}

p {
color: #D92332;
font-family: 'Rajdhani', sans-serif;
font-size: 30px; 
line-height: 1.5; 
}

h1 {
font-family: 'Barlow', sans-serif;

}

h2 {
font-family: 'Barlow', sans-serif;
text-align: center;
}


.custom-bg {
                       
background-color: #D94350;
padding-bottom: 30px;
}

.card-custom {
  max-width: 250px;
  max-height: 250px;
  margin: auto;
  background-color: #F2F2F2;
  
}

.card-text {
  font-size: 20px;

}

.note-text {
  font-size: 14px;
}

.custom-button {
  background-color: #262526;
  color: #F2F2F2;

}

.text-start {
  font-family: 'Barlow', sans-serif;

}

.main-section {
  margin-top: 200px;
  background-color: #F2F2F2;
  
}
.container-footer {
  height: auto ; 
  background-color:#D92332;
  color: #F2F2F2;
}

h3{

  font-family: 'Barlow', sans-serif;
  
}

.description {
  font-family: 'Barlow', sans-serif;
  font-size: 20px;
  color: #D94350;

}

h5 {
  text-align: center;

}

.desc {

  color: #262526;
  font-size: 15px;

}

.btn custom-close-button {
  background-color: #262526; 
  font-family: 'Barlow', sans-serif;
  color: #F2F2F2;
}

/* Style du footer */
.footer {
  background-color: #D92332;
  color: #F2F2F2;
  padding: 20px 0;
}

/* Style pour le contenu du footer */
.footer h3 {
  font-size: 18px;
}

.footer ul, .footer ol {
  list-style-type: none;
  padding-left: 0;
}

.footer li {
  margin-bottom: 10px;
}

/* Style pour la mise en page responsive */
@media (max-width: 767px) {
  .footer .col-md-6 {
      text-align: center;
      margin-bottom: 20px;
  }
}


















