<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Garage V-Parrot{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Rajdhani&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>


    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link href="{{ asset('build/assets/app.css') }}" rel="stylesheet">
       
    {% endblock %}
</head>
<body>  
    <nav>
        {% include "partials/_header.html.twig" %}
    </nav>
    {% block body %}{% endblock %}
    {% include 'partials/_footer.html.twig' %}

  {% block javascripts %}
  
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('filtre') }}
   
  {% endblock %}




</body>
</html>



