<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mon application{% endblock %}</title>
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Vous pouvez ajouter d'autres balises <link> pour vos fichiers CSS ici -->
</head>
<body>
    {% block body %}{% endblock %}

    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <!-- Vous pouvez ajouter d'autres balises <script> pour vos fichiers JavaScript ici -->
</body>
</html>
